.testimonial{
    padding: 0 0 150px;
}
.testimonial_img img{
    border-radius: 50%;
}
.testimonial_text{
    margin-left: 20px;
}
.testimonial_text p {
    font-size: 16px;
    font-weight: 500;
    color: var(--paragraph-color);
    margin-bottom: 30px;
}
.testimonial_text h5{
    font-size: 18px;
    font-weight: 500;
    color: var(--heading-color);
    font-style: italic;
    margin-bottom: 5px;
}
.testimonial_text span{
    color: var(--main-color);
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
}

/* ----------------------media query---------------- */

/* --------ipad device----------- */
@media (min-width:769px) and (max-width:991px){
    .testimonial_text {
        margin-left: 15px;
    }
    .testimonial_text p {
        margin-bottom: 20px;
    }
}

/* ---- mobile device----------- */
@media (max-width:768px){
    .testimonial_item {
        margin-bottom: 30px;
    }
    .testimonial {
        padding: 0 0 100px;
    }
}
