.testimonial{
    padding: 0 0 150px;
}
.testimonial_img img{
    border-radius: 50%;
}
.testimonial_text{
    margin-left: 20px;
}
.testimonial_text p {
    font-size: 16px;
    font-weight: 500;
    color: var(--paragraph-color);
    margin-bottom: 30px;
}
.testimonial_text h5{
    font-size: 18px;
    font-weight: 500;
    color: var(--heading-color);
    font-style: italic;
    margin-bottom: 5px;
}
.testimonial_text span{
    color: var(--main-color);
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
}

/* ----------------------media query---------------- */

/* ---- mobile device----------- */
@media (min-width:375px) and (max-width:576px){
    .testimonial_item {
        margin-bottom: 30px;
    }
}

/* ----small mobile device----------- */
@media (max-width:375px){
    .testimonial_item {
        margin-bottom: 30px;
    }
}